.form-password {
    background-color: rgba(36,35,43,255);
    width: 400px;
    height: 430px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-length {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.password-checkbox div {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 20px;
}

label {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.length {
    color: #9ff7ad;
    font-size: 25px;
}