.password-generator {
    text-transform: uppercase;
    background-color: #a4ffaf;
    width: 294px;
    height: 34px;
    color: #213822;
    font-weight: 700;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border: #a4ffaf solid;
}

.password-generator:hover {
    background-color: rgba(36, 35, 43, 255);
    border: #a4ffaf solid;
    color: #a4ffaf;
}

.error-label {
    color: red;
    padding: 10px;
}