.App {
  text-align: center;
  user-select: none;
}

.App-header {
  background-color: rgba(17,16,22,255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e6e5ea;
  font-weight: 600;
}

.app-title {
  color: rgba(123,120,140,255);
  margin-bottom: 30px;
}